@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Open+Sans&display=swap");

/*------------------Header------------------*/

.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8%;
  font-family: "Open Sans", sans-serif;
}

.menu ul li a {
  color: black;
  text-decoration: none;
}
.menu ul li a:visited {
  color: red;
}

/*------------------Page------------------ */
.view {
  width: 100%;
  border: 2px solid black;
  background: #cef4f6;
  display: flex;
  justify-content: center;
}
.page-header {
  font-family: "Roboto Slab", serif;
}

/*------------------Form------------------*/
.create-rating {
  display: flex;
  flex-direction: column;
}
.create-rating label {
  margin: 24px 0;
}

/*------------------Rating star------------------*/
.rating {
  display: flex;
  flex-direction: row;
}
.rating h2 {
  width: 100%;
}
.ratingStar svg {
  width: 100%;
}
.ratingStar button {
  width: 55px;
  background: none;
  border: none;
  margin: 1px;
  position: relative;
}
.ratingStar p {
  position: absolute;
    top: 3px;
    color: white;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}


.star-rating-1 button svg{
  fill: #aa0303;
}
.star-rating-2 button svg{
  fill: #ff2300;
}
.star-rating-3 button svg{
  fill: #ff8d00;
}
.star-rating-4 button svg{
  fill: #ffc800;
}
.star-rating-5 button svg{
  fill: #b5ec0a;
}
.star-rating-6 button svg{
  fill: #67da10;
}
.star-rating-7 button svg{
  fill: #07c70d;
}
.star-rating-none{
  fill: #cccccc;
}

