@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Open+Sans&display=swap");

body{
  margin: 0;
  padding: 0;
}
/*------------------Header------------------*/

.menu{
  background: #4d4d4d;
  padding: 7px 0;
}
.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8%;
  font-family: "Open Sans", sans-serif;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}
.menu ul li a:visited {
  color: white;
}

/*------------------Page------------------ */
.view {
  width: 100%;
  display: flex;
  justify-content: center;
}
.page-header {
  font-family: "Roboto Slab", serif;
  font-size: 44px;
}
.page-create {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  padding-bottom: 66px;
  margin-top: 4vh;
}

/*------------------Form------------------*/
.create-rating {
  display: flex;
  flex-direction: column;
}
.create-rating label {
  margin: 10px 0;
  font-family: "Open Sans", sans-serif;
}

.create-rating textarea {
  height: 51px;
  width: 100%;
}

.create-rating .submit{
  font-family: "Roboto Slab", serif;
  background: #4d4d4d;
  color:white;
  font-size: 24px;
  padding: 9px 0;
}
